# Lambda expressions
one time functions 
<br>
### map and filter

In [1]:
def square(num):
    return num ** 2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
map(square, my_nums)

In [4]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return "EVEN"
    else:
        return mystring[0]

In [7]:
names = ["andy", "eve", "sally"]

In [8]:
list(map(splicer, names))

['EVEN', 'e', 's']

In [10]:
def check_even(num):
    return num % 2 == 0

In [11]:
my_nums =[1,2,3,4,5,6]

In [12]:
filter(check_even, my_nums)

In [13]:
list(filter(check_even, my_nums))

[2, 4, 6]

In [14]:
def square(num):
    result = num ** 2
    return result

In [15]:
square(3)

9

In [16]:
def square(num): return num ** 2

In [17]:
square(3)

9

In [21]:
lambda num: num ** 2

In [22]:
square(5)

25

In [24]:
list(map(lambda num:num**2, my_nums))

[1, 4, 9, 16, 25, 36]

In [26]:
list(filter(lambda num: num % 2 == 0, my_nums))

[2, 4, 6]

In [27]:
names

['andy', 'eve', 'sally']

In [30]:
list(map(lambda name: name[0], names))

['a', 'e', 's']

In [31]:
list(map(lambda name: name[::-1], names))

['ydna', 'eve', 'yllas']