# if_elif_and_else_statements
### Control Flow 
Only execute code when you want to. For example: if dog is hungry then feed dog.
<br>
Control flow syntax makes use of colons and indentation. This system is crucial to Python and is what sets it apart from other programming languages. 
<br>
<br>
if some_condition:
    execute some code
elif some_other_condition:
    do something different
else:
    do something else

In [1]:
if True:
    print("It's True")

It's True

In [2]:
if 3>2:
    print("It's true")

It's true

In [10]:
hungry = True

if hungry:
    print("Please give food")
else:
    print("No food please")

Please give food

In [11]:
if hungry==True:
    print("Please give food")
else:
    print("No food please")

Please give food

In [16]:
loc = "Bank"

if loc == 'Auto Shop':
    print("Cars are cool.")
elif loc == "Bank":
    print("Moneyzzzz")
elif loc == "Store":
    print("Welcome to the store.")
else:
    print("I do not know much.")

Moneyzzzz

In [17]:
loc = "Bla"

if loc == 'Auto Shop':
    print("Cars are cool.")
elif loc == "Bank":
    print("Moneyzzzz")
elif loc == "Store":
    print("Welcome to the store.")
else:
    print("I do not know much.")

I do not know much.

In [21]:
name = "Sammy"

if name == "Frankie":
    print("Hello Frankie")
    
elif name == "Sammy":
    print("Hello Sammy")
    
else:
    print("What's your name?")

Hello Sammy

In [22]:
name = "Luuk"

if name == "Frankie":
    print("Hello Frankie")
    
elif name == "Sammy":
    print("Hello Sammy")
    
else:
    print("What's your name?")

What's your name?

### For Loops in Python
Many objects in python are iterable, meaning we can iterate over every element in the object. Such as every element in a list or every char in a string. We can use for loops to execute a block of code for every iteration. 
<br>
iterate over every item in a list
<br>
iterate over every key in a dict
#### Syntax of a for loop
my_iterable = [1,2,3]
<br>
for item_name in my_iterable
<br> 
print(item_name)

In [24]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(my_iterable)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [25]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [27]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [28]:
for num in my_list:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [33]:
for num in my_list:
    # Check for even nums
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [32]:
for num in my_list:
    # Check for even nums
    if num % 2 == 0:
        print(num)
    else:
        print(f"Odd Number: {num}")

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [35]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [36]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num

print(list_sum)

55

In [37]:
my_string = 'Hello World'

for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [38]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [41]:
for _ in 'Hello World':
    print("Cool")

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [42]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [43]:
my_list = [(1,2),(3,4),(5,6),(7,8)]

In [44]:
len(my_list)

4

In [45]:
for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [46]:
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [47]:
for a,b in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [48]:
for (a,b) in my_list:
    print(b)

2
4
6
8

In [49]:
my_list = [(1,2,3),(5,6,7),(8,9,10)]

In [50]:
for item in my_list:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [51]:
for a,b,c in my_list:
    print(b)

2
6
9

In [52]:
for a,b,c in my_list:
    print(a,b)

1 2
5 6
8 9

In [53]:
d = {'k1':1, "k2":2, "k3":3}

for item in d:
    print(item)

k1
k2
k3

In [54]:
d = {'k1':1, "k2":2, "k3":3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [56]:
d = {'k1':1, "k2":2, "k3":3}

for key,value in d.items():
    print(item)

('k3', 3)
('k3', 3)
('k3', 3)

In [62]:
d = {'k1':1, "k2":2, "k3":3}

for key,value in d.items():
    print(value)

1
2
3

### While Loops
While loops will continue to execute a block of code while some conditions remains True. 
<br>
While my pool is not full, keep filling my pool.
<br>
while some_boolean_condition:
<br>
        # do something
Else: 
...

In [67]:
x = 0

while x < 5:
    print(f"value is: {x}")
#    x = x + 1
    x += 1
else:
    print("X IS NOT LESS THAN 5")

value is: 0
value is: 1
value is: 2
value is: 3
value is: 4
X IS NOT LESS THAN 5

#### Break, continue, pass
We can use break continue and pass statement in our loops to add additional functionality for various cases. The three statements are defined by:
<br>
Break: breaks out of the current closest enclosing loops.
<br>
Continue: goes to the top of the closest enclosing lopp.
<br> 
Pass: does nothing at all.

In [69]:
x = [1,2,3]

for item in x:
    # give a pass if you don't want want an EOF error
    pass

print("end of my script")

end of my script

In [70]:
x = [1,2,3]

for item in x:
    # give a pass if you don't want want an EOF error

print("end of my script")

IndentationError: expected an indented block (<ipython-input-70-620192e7fdb7>, line 6)

In [71]:
my_string = "Sammy"

In [72]:
for letter in my_string:
    print(letter)

S
a
m
m
y

In [73]:
for letter in my_string:
    if letter == "a":
        continue
    print(letter)

S
m
m
y

In [74]:
for letter in my_string:
    if letter == "a":
        break
    print(letter)

S

In [3]:
x = 0

while x < 5:
    if x == 3:
        break
    print(x)
    x = x + 1

0
1
2

#### Useful operators

In [5]:
my_list = [1,2,3]

In [6]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [8]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [9]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [10]:
range(0,11,2)

range(0, 11, 2)

In [11]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [17]:
index_count = 0

for letter in "abcde":
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [20]:
index_count = 0
word = "abcde"

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [21]:
index_count = 0
word = "abcde"

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [22]:
my_list1 = [1,2,3]
my_list2 = ["a", "b", "c"]

In [23]:
for item in zip(my_list1, my_list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [24]:
my_list1 = [1,2,3]
my_list2 = ["a", "b", "c"]
my_list3 = [100, 200, 300]

In [25]:
for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [26]:
list(zip(my_list1,my_list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [27]:
"x" in [1,2,3]

False

In [28]:
"x" in ["x", "y", "z"]

True

In [29]:
"a" in "a world"

True

In [30]:
"my_key" in {"my_key":345}

True

In [31]:
d = {"my_key":345}

345 in d.values()

True

In [32]:
d = {"my_key":345}

345 in d.keys()

False

In [33]:
d = {"my_key":345}

my_key in d.keys()

NameError: name 'my_key' is not defined

In [34]:
d = {"my_key":345}

"my_key" in d.keys()

True

In [35]:
my_list = [10,20,30,40,50,60]

In [36]:
min(my_list)

10

In [37]:
max(my_list)

60

In [38]:
from random import shuffle

In [39]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [40]:
shuffle(my_list)

In [41]:
my_list

[10, 2, 6, 8, 7, 3, 1, 4, 9, 5]

In [42]:
print(my_list)

[10, 2, 6, 8, 7, 3, 1, 4, 9, 5]

In [43]:
from random import randint

In [44]:
randint(0,100)

80

In [45]:
randint(0,10000)

7044

In [46]:
my_num = randint(0,100)

In [47]:
my_num

21

In [48]:
input("Enter a number here:")

Enter a number here:50

'50'

In [49]:
result = input("Enter a number here:")

Enter a number here:luuk

In [50]:
result

'luuk'

In [51]:
result_num = input("What's your favorite number?")

What's your favorite number?30

In [52]:
result_num

'30'

In [53]:
result_num(type)

TypeError: 'str' object is not callable

In [54]:
type(result_num)

str

In [56]:
float(result_num)

30.0

In [58]:
int(result_num)

30

In [59]:
result_num = int(input("What's your favorite number?"))

What's your favorite number?44

In [60]:
result_num

44

In [61]:
type(result_num)

int

### List comprehension
List comp are a unique way of quickly creating a list

In [62]:
my_string = "hello"

In [63]:
my_list = []

for letter in my_string:
    my_list.append(letter)

In [64]:
my_list

['h', 'e', 'l', 'l', 'o']

In [66]:
my_list = [letter for letter in my_string]

In [67]:
my_list

['h', 'e', 'l', 'l', 'o']

In [68]:
my_list = [x for x in "word"]

In [69]:
my_list = [ekffk for ekffk in "wordtwo"]

In [70]:
my_list

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [73]:
my_list = [num for num in range(0,11)]

In [74]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
my_list = [num**2 for num in range(0,11)]

In [76]:
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
my_list = [x for x in range(0,11) if x%2==0]

In [79]:
my_list

[0, 2, 4, 6, 8, 10]

In [87]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [88]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [89]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32))

In [90]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [91]:
results = [x if x%2==0 else "ODD" for x in range(0,11)]

In [92]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [93]:
my_list = []

for x in [2,4,6]:
    for y in [100,200,300]:
        my_list.append(x*y)

In [94]:
my_list

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [95]:
my_list = [x*y for x in [2,4,6] for y in [1,10,100]]

In [96]:
my_list

[2, 20, 200, 4, 40, 400, 6, 60, 600]