# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

#### Numbers: 
<br>
includes integers (int), which are whole numbers such as 3, 300, 200
<br>
includes floating points (float), which are numbers with a decimal, 2.3, 4.5, 100.1
<br>
numbers are immutable types, so changing the value will rresults in a newly allocated object
<br> 

#### Strings:
<br>
Strings (str) are ordered sequences of characters: "hello", "Sammy", "2000", "japanese char"
<br>
Because strings are ordered, it's easy to index and slicing them; this will allow us to grab a sub-sections of a string. 
<br>
Indexing
<br>
string: hello
<br>
index [0=h] [1=e] [2=l] etc..
<br>
reverse index [0=h] [-4=e] etc..
<br>

#### Lists:
<br>
Lists, (list) are ordered sequences of objects that may contain e.g. floats, ints and strings. 
<br>
Lists use brackets, commas to seperate values: [10, "hello", 200.3]
<br> 
Lists support indexing and slicing. 
<br> 
Lists can be nested and may use a variety of methods: my_list.sort()

#### Tuples:
<br>
Tuples (tup) are ordered immutable sequences of objects - this means they cannot be updated or changed.
<br>
Tuples use parenthesis

#### Dictionaries:
<br>
Dictionaries or dicts are unordered mapping for storing objects.
<br>
Instead of storing objects in an ordered sequence like lists, dicts use key-value pairing. 
<br> 
This allows us to grab objects without needing to know the index location: {"key1":"value1"}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [3]:
4 * (6 + 5), 4 * 6 + 5, 4 + 6 * 5

(44, 29, 34)

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [7]:
x = 3 + 1.5 + 4

In [5]:
type(x)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [143]:
# Square root:
100 ** 0.5

10.0

In [144]:
# Square:
10 ** 2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [8]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [9]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [10]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [12]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [26]:
# Method 1:
[0,0,0]

[0, 0, 0]

In [27]:
# Method 2:
my_list = []
for _ in range(3):
    my_list.append(0)
my_list

[0, 0, 0]

In [25]:
[0] * 3

[0, 0, 0]

In [31]:
my_list = [0 for _ in range(3)]
my_list

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [47]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [33]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [52]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [63]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [99]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [113]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
Answer: No, dicts use key-value pairing and are thus not sorted. 
<br>
They are mapping not a sequence.

## Tuples

What is the major difference between tuples and lists?<br><br>
Tuples are immutable, lists are mutable.

How do you create a tuple?<br><br>
Assign it by using parenthesis: my_tuple = (1,2,3)

## Sets

What is unique about a set?<br><br>
They can only contain unique elements.

Use a set to find the unique values of the list below:

In [115]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [121]:
# Answer before running cell
# False
2 > 3

False

In [117]:
# Answer before running cell
# False
3 <= 2

False

In [118]:
# Answer before running cell
# False
3 == 2.0

False

In [119]:
# Answer before running cell
# True
3.0 == 3

True

In [120]:
# Answer before running cell
# False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [142]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

l_one[2][0] # == 3 
l_two[2]['k1'] # == 4

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!